@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

.AFButtonForeground:alias {
    color: #C63100; 
    text-decoration: underline; 
}

.AFButtonBorderColor:alias {
    color: Red; 
}

.AFButtonGradientStartActiveColor:alias {
    color: #C60063; 
}

.AFButtonBorderTopActiveColor:alias {
    color: #D71D7A; 
}

.AFButtonBorderActiveColor:alias {
    color: #BA1166; 
}

.AFButtonGradientEndActiveColor:alias {
    color: #73013A; 
}

.AFTextColor:alias {
    color: Black; 
}

/*INFO: Color value exceeded range after adjustment: HSL(0, 0%, -20%)*/
.AFTextPrimaryColor:alias {
    color: #000000; 
}

.AFLabelColor:alias {
    color: #1C1C1C; 
}

.AFTextSecondaryColor:alias {
    color: #1C1C1C; 
}

.AFTextTertiaryColor:alias {
    color: #000000; 
}




af|selectOneChoice{
     background-color: #e6f2ff; 
}

af|inputListOfValues {
    background-color: #e6f2ff; 
}

af|inputText {
    background-color: #e6f2ff; 
    }

af|listItem {
    color: Black; 
        }

af|panelLabelAndMessage::label {
    color: Black; 
}

af|panelSplitter::pane {
    }

af|popup {
    background-color: #f7f7f7; 
}

af|separator {
    color: Black; 
}

af|commandToolbarButton {
    
        }

af|inputFile {
    background-color: #008484; 
}

af|inputFile::label {
    text-align: center; 
}

af|commandToolbarButton::text {
     color: White; 
     position: center; 
}

af|selectBooleanRadio[theme="medium"] {
        }

af|commandToolbarButton[theme="medium"] {
            }