@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

af|panelCollection.myPCClass div[id$='_qbeTbr'] {
    display: none;
}

af|commandButton{
color:blue;
font-weight:bold
}

.AFDefaultFontFamily:alias {
       font-family: Tahoma, Verdana, Helvetica, sans-serif;
}

af|inputText::content {
         background-color: red;
}

af|panelBox::medium af|panelBox::top-end:rtl {
          background-image: url(/skins/purple/images/panelBoxStart.png);
          width:8px; 
          height:8px
}

.mysor af|selectOneRadio::content div {
    padding: 10px 0px 20px 0px; 
}
